.App {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
  justify-content: center;
}

.card {
  border: 2px solid lightblue;
  width: 170px;
  border-radius: 10px;
  margin: 20px;
}
